@model BudgetApp.Models.TransactionViewModel
<form asp-action="Create" method="post" >
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label class="form-label" asp-for="Transaction.CategoryId">Category</label>
        <select asp-for="Transaction.CategoryId" class="form-select">
            <option value="">Select a Category</option>
            @foreach (var category in Model.Categories)
            {
                <option value="@category.Id">@category.Name</option>
            }
        </select>
        <span asp-validation-for="Transaction.CategoryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="form-label" asp-for="Transaction.Description"></label>
        <input asp-for="Transaction.Description" class="form-control"/>
    </div>
    <div class="form-group">
        <label class="form-label" asp-for="Transaction.Amount"></label>
        <input asp-for="Transaction.Amount" class="form-control"/>
        <span asp-validation-for="Transaction.Amount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="form-label" asp-for="Transaction.Date"></label>
        <input asp-for="Transaction.Date" type="date" class="form-control"/>
        <span asp-validation-for="Transaction.Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>
