@using BudgetApp.Models
@model TransactionViewModel
@{
    ViewData["Title"] = "Transactions";
    Layout = "_Layout";
}

<h2>Transactions</h2>
<main>
    <div class="container">
        <div>
            <button class="btn btn-primary" asp-action="Create" data-bs-toggle="modal"
                    data-bs-target="#addTransactionModal">Add Transaction
            </button>
            <p class="text-danger">@TempData["ErrorMessage"]</p>
        </div>
    </div>
</main>
<div id="addTransactionModal" tabindex="-1" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="bg-success modal-header text-white">
                <h4 class="modal-title">Add Transaction</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="modal-body-content">
                @if (Model != null && Model.Categories != null)
                {
                    @await Html.PartialAsync("Create", Model)
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}